<div class="main-cards">
  {{#each restaurant}}
  <div class="card" data-id="{{this.id}}">
    <div class="photo">
      <img src="{{this.image}}" alt="{{this.name}}">
    </div>
    <div class="general-info">
      <h4 class="title">{{this.name}}</h4>
      <span class="category">分類 : {{this.category}}</span>
      <span class="rating">評分 : {{this.rating}}</span>
      <button class="details"><a href="/home/{{this.id}}">詳細訊息</a></button>
    </div>
  </div>
  {{/each}}
</div>